body{
background-color: rgb(148, 25, 107);
}
#content{
	display: block;
	container-type:inline-size;
	margin: 100px auto 0 auto;
	padding: 5%;
	width: 600px;
	border: 2px solid rgb(148, 25, 107);
    border-radius: 25px;
	background-color: white;
}
p{
	font-family: tahoma;
}

img{
	margin: 0 auto 0 auto;
	display: block;
}
pre{
margin: 0% 9%;
}
